body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D6D3B6;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.top-bar{
    background-color: #EC6519;
    width: 100%;
    height: 100px; 
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.bell-profile{
    display: flex;
    margin-right: 66px;
}

.icons{
    margin-left: 12px;
    margin-top: 40px;
}

.icons i {
    margin-right: 20px; 
}

.fas{
    font-size: 28px;
    justify-content: space-between;  
}

.home{
    cursor: pointer; 
    color: black; 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    transition: background-color 0.3s;
}

.home:hover{
    color: white;

}

.profile {
    max-width: 800px;
    margin: 0 auto;
 
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

.edit-button {
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    border: none;
    background-color:  red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #f9f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-left: 0px;
}

button:hover{
    background-color: rgb(247, 56, 56);
    border: rgb(247, 56, 56);
}

.profile-photo img {
    margin-top: 130px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #EC6519;
}

.profile-info {
    flex-grow: 1;
    align-content: center;
    
}

.username {
    margin-left: 7px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.post-count,
.followers-count,
.following-count {
    margin: 5px 0;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.counts{
    display:flex;
    margin-left: 10px;
    margin-top: 30px;
}

.line {
    width: 100%; 
    border: 1px solid black;
    margin: 10px auto; 
}

.profile-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.art-post{
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 8px;
    width: 250px;
    height: 349px;
    background-color: white;
    position: relative;
    margin-left: 8px;
}

.art-space{
    margin-top: 20px;
    border: 2px solid rgb(232, 200, 132);
    width: 245px;
    height: 260px;
    background-color: rgb(232, 200, 132);
    margin-left: -2px;
    margin: 2px auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative; 
    z-index: -3;
}

.icons-post{
    margin-top: -34px;
    margin-left: 180px;
}

.icons-post i {
    color: rgb(250, 234, 210);
    font-size: 140%;
    margin-right: 10px;
    transition: color 0.3s ease; 
}

.icons-post i:hover {
    color: #EC6519; 
}

.profile-info .photo-icon img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-left: 8px; 
    margin-top: 8px;
}

.name{
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.profile-info{
    display: flex;
}

.comment-section {
    /* Styles for the comment section */
}
